/* 예시 페이지 */
.container .gauge .percent {
    display: flex;
    justify-content: space-between;

    margin-bottom: 10px;
}

.container .explanation {
    margin-top: 50px;

    line-height: 5px;

    font-size: 13px;
    font-weight: bold;
    color: #293845;
}

.container .checkbox {
    width: 700px;
    height: 150px;

    margin-top: 40px;
    padding-top: 50px;

    text-align: center;

    border-width: 2px;
    border-style: solid;
    border-color: #766af6;

    background-color: #b2acfa;
}

.container .checkbox p {
    color: white;
    font-weight: bold;
    font-size: 13px;
}

.container .checkbox .radiobox {
    display: flex;
    justify-content: space-around;

    margin: 50px auto 0;

    width: 500px;

    color: #293845;
}

.container .checkbox .radiobox input[type="radio"] {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;

    width: 13px;
    height: 13px;

    border: 2px solid darkgray;
    border-radius: 13px;
    background: #ffffff;
}

.container .checkbox .radiobox input[type="radio"]:checked::before {
    content:'';
    display:block;
    width: 75%;
    height:75%;
    margin: 13% auto;
    border-radius: 100%;
    background: #6558f5;
}
