/* 예시 페이지 */
.container .gauge .percent {
    display: flex;
    justify-content: space-between;

    margin-bottom: 10px;
}

.container .explanation {
    margin-top: 50px;

    line-height: 5px;

    font-size: 13px;
    font-weight: bold;
    color: #293845;
}