/* 예시 페이지 */
.container .gauge .percent {
    display: flex;
    justify-content: space-between;

    margin-bottom: 10px;
}

.container .gauge .percent h2 {
    color: black;
}

.container .gauge .progressbar {
    width: 700px;
    height: 20px;

    border-radius: 5px;

    background-color: #c1cad2;
}

.container .gauge .progressbar::before {
    content: "";

    display: block;

    width: 200px;
    height: 20px;

    border-radius: 5px;

    background-color: #4fada9;
}

.container .explanation {
    margin-top: 50px;

    line-height: 5px;

    font-size: 13px;
    font-weight: bold;
    color: #293845;
}

.container .checkbox {
    width: 700px;
    height: 150px;

    margin-top: 40px;
    padding-top: 50px;

    text-align: center;

    border-width: 2px;
    border-style: solid;
    border-color: #766af6;

    background-color: #b2acfa;
}

.container .checkbox p {
    color: white;
    font-weight: bold;
    font-size: 13px;
}

.container .checkbox .radiobox {
    display: flex;
    justify-content: space-around;

    margin: 50px auto 0;

    width: 500px;

    color: #293845;
}

.container .checkbox .radiobox input[type="radio"] {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;

    width: 13px;
    height: 13px;

    border: 2px solid darkgray;
    border-radius: 13px;
    background: #ffffff;
}

.container .checkbox .radiobox input[type="radio"]:checked::before {
    content:'';
    display:block;
    width: 75%;
    height:75%;
    margin: 13% auto;
    border-radius: 100%;
    background: #6558f5;
}

.container .go_btn {
    margin: 50px 35%;

    width: 200px;
    height: 40px;

    font-size: 17px;
    font-weight: bold;

    color: #6558f5;

    background-color: white;
    border-color: #d3dae0;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;

    cursor: pointer;
}

/* 체크박스가 체크되면 활성화 */
.container .go_btn_check {
    margin: 50px 35%;

    width: 200px;
    height: 40px;

    font-size: 17px;
    font-weight: bold;

    color: white;

    background-color: #6558f5;
    border-color: #d3dae0;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;

    cursor: pointer;
}