.container .gauge .percent h2 {
    color: black;
}

.container .gauge .progressbar_before {
    float: left;

    width: 200px;
    height: 20px;

    border-radius: 5px;

    background-color: #4fada9;
}

.container .gauge .progressbar {
    width: 700px;
    height: 20px;

    border-radius: 5px;

    background-color: #c1cad2;
}