.container .result_h2 {
    border-bottom: 2px solid gray;

    width: 350px;
    height: 20px;

    margin: auto;

    color: black;
}

.container .explanation {
    margin-top: 50px;

    line-height: 5px;

    font-size: 13px;
    font-weight: bold;
    color: #293845;
}

.container .usertable {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50%;

    border: 1px solid gray;

    width: 700px;
    height: 80px;

    margin-top: 40px;
}

.container .usertable div {
    border: 1px solid gray;
    border-collapse: collapse;
    
    text-align: center;
    line-height: 40px;
}

.container .table_title {
    text-align: left;

    font-weight: bold;
    font-size: 20px;

    margin-top: 50px;
}

.container .graph {
    width: 100%;
    height: 400px;

    background-color: rgb(247, 247, 247);

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container .graph div {
    width: 50px;
    height: 0px;

    margin: 0 15px;

    background-color: #6558f5;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    -moz-transition: all 0.5s ease 1s;
    -ms-transition: all 0.5s ease 1s;
    -o-transition: all 0.5s ease 1s;
    transition: all 0.5s ease 1s;
}

.container .graph div span {
    color: black;
    display: inline-block;

    margin-top: 10px;

    font-size: 15px;
    color: white;
    
    line-height: 18px;
}

.container .go_btn {
    margin: 50px 35%;

    width: 150px;
    height: 40px;

    font-size: 17px;
    font-weight: bold;

    color: #6558f5;

    background-color: white;
    border-color: #d3dae0;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;

    cursor: pointer;
}

.container .jobtable {
    display: grid;
    grid-template-columns: 1fr 3fr;

    border: 1px solid gray;

    width: 700px;
    height: 400px;
}

.container .jobtable div {
    border: 1px solid gray;
    border-collapse: collapse;
    
    text-align: center;
    line-height: 40px;

    padding-top: 20px;
}