.container .explanation {
    margin-top: 50px;

    line-height: 5px;

    font-size: 13px;
    font-weight: bold;
    color: #293845;
}

.container .usertable {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50%;

    border: 1px solid gray;

    width: 700px;
    height: 80px;

    margin-top: 40px;
}

.container .usertable div {
    border: 1px solid gray;
    border-collapse: collapse;
    
    text-align: center;
    line-height: 40px;
}

.container .graphtable {
    margin-top: 50px;
}

.container .graphtable p {
    text-align: left;

    font-weight: bold;
    font-size: 20px;
}

.container .graphtable div {
    width: 100%;
    height: 50px;
    background-color: pink;

}

.container .go_btn {
    margin: 50px 35%;

    width: 150px;
    height: 40px;

    font-size: 17px;
    font-weight: bold;

    color: #6558f5;

    background-color: white;
    border-color: #d3dae0;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;

    cursor: pointer;
}