/* 진행 페이지 */
.container .gauge .percent {
    display: flex;
    justify-content: space-between;

    margin-bottom: 10px;
}

.container .gauge .progressbar {
    width: 700px;
    height: 20px;

    border-radius: 5px;

    background-color: #c1cad2;
}

.container .gauge .progressbar::before {
    content: "";

    display: block;

    width: 200px;
    height: 20px;

    border-radius: 5px;

    background-color: #4fada9;
}



.container .buttonbox {
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.container .prev_btn, .next_btn {
    width: 130px;
    height: 40px;

    margin-top: 50px;

    font-size: 17px;
    font-weight: bold;

    color: #6558f5;

    background-color: white;
    border-color: #d3dae0;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;

    cursor: pointer;
}

/* 체크박스가 체크되면 활성화 */
.container .go_next_btn {
    width: 130px;
    height: 40px;

    margin-top: 50px;

    font-size: 17px;
    font-weight: bold;

    color: white;

    background-color: #6558f5;
    border-color: #d3dae0;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;

    cursor: pointer;
}