.container {
    width: 500px;
    height: 500px;

    text-align: center;

    margin : 40vh auto;
}

.name {
    width: 154px;

    margin : auto;
    padding : 0px 0px;
}

.name p {
    text-align: left;

    font-size: 15px;
    font-weight: bold;
    color: #4b5c6b;

    padding: 0;
    margin: 0;
}

.container .name .namebox {
    all: unset;

    width: 150px;
    height: 30px;
    border-color: #d3dae0;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.gender {
    width: 60px;

    margin : auto;
    padding : 0px 0px;
}

.gender p {
    margin : 0px;

    text-align: left;

    font-size: 15px;
    font-weight: bold;
    color: #4b5c6b;
}

.btn button {
    width: 100px;
    height: 40px;

    font-size: 17px;
    font-weight: bold;

    color: #6558f5;

    background-color: white;
    border-color: #d3dae0;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;

}